@media (max-width: 900px) {
    header{
        margin: 0 0 0 0;
    }

    .logo{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .nav.open .nav-list {
        margin-top: 0;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, #531ACA 0%, #6D3ADA 50.00%, #5D16D1 100%);
        z-index: 1;

        /*padding: 46px 30px;*/
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        font-size: 20px;
        font-weight: 600;
    }

    .nav-link {
        color: #ffffff;
    }

    .nav-link.active {
        color: #d798ff;
    }

    .nav-button {
        z-index: 9;
        position: absolute;
        right: 0;
    }

    .header-nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    .header-row {
        flex-direction: column;
        row-gap: 10px;
    }

    .header-content {
        margin-top: 0;
    }

    .search{
        margin-left: 45px;
    }

    .searchButton{
        margin-top: 2px;
    }

    .header-content p, .header-content h1 {
        margin-left: 5px;
    }

    .midl{
        max-width: 100%;
    }

    .header-img{
        max-width: 100%;
    }

    .course button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin-left: 5px;
        margin-right: 0;
    }

    .header-heading {
        margin-bottom: 12px;
        margin-left: 5px;
        font-weight: 600;
        font-size: 28px;
        margin-top: 0;
    }

    .textbox{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    img.img-laptop{
        max-width: 0;
    }

    .box1{
        max-width: 100%;
    }

    .conteinerdirectivity{
        flex-direction: column;
        max-width: 100%;
    }

    .info2{
        max-width: 100%;
    }

    .info2 h1{
        text-align: center;
    }

    .commentinfo2{
        margin-top: 0;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}

@media (max-width: 500px) {
    .header-nav {
        justify-content: left;
    }
}